################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/fc-practice/obj
/.vs
/fc-test-task.tests/bin/Debug/net8.0
/obj
/fc-test-task.tests/obj
/fc-test-task.csproj.user
/appsettings.Development.json
/appsettings.json
